/* Hero Section */
.donate-hero {
  background: url("../../public/images/donate.png") no-repeat center
    center/cover;
  height: 50vh;
  position: relative;
  color: #fff;
}

.donate-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.donate-hero div {
  position: relative;
  z-index: 2;
}

/* Donation Options Section */
.donate-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.donate-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
